{{ define "meta" }}
    {{ if gt (len .Pages) 0 }}
    <meta http-equiv="last-modified" content="{{ (index .Pages 0).Date.Format "2006-01-02" }}">
    {{ end }}
{{ end }}

{{ define "main" }}
<main>
    {{ $portfolio := where .Pages "Params.portfolio" true }}
    {{ if gt (len $portfolio) 0 }}
    <section style="margin: -1em">
        <div class="scroll-shadow">
            <ol class="portfolio-list-presenter">
                {{ range $portfolio }}
                <li>
                    <a href="{{ .Permalink }}" class="presenter-card" style="background-image: url({{ .Params.cover }});">
                        <span class="title">{{ .Title }}</span>
                    </a>
                    {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "2006" }}</time>{{ end }}
                </li>
                {{ end }}
            </ol>
        </div>
    </section>
    {{ end }}
    <section>
        <ol class="list-presenter">
            {{ range where .Pages "Params.portfolio" "!=" true }}
            <li>
                <div class="presenter-card">
                    <p class="front-matter">
                        {{ if .Date }}Published <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "2 January, 2006" }}</time>{{ end }}
                        {{ if .Params.tags }} in
                            {{ $tag_items := (.Params.tags) }}
                            {{ $len := (len $tag_items) }}
                            {{ range $index, $element := $tag_items }}
                                <a class="tag" href="/tags/{{ . | urlize }}/">{{ . }}</a>{{ if not (eq (add $index 1) $len) }},{{ else }}.{{ end }}
                            {{ end }}
                        {{ end }}
                    </p>
                    <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
                    <p>{{ .Summary }} <a href="{{ .Permalink }}">Continue&nbsp;→</a></p>
                    <hr>
                </div>
            </li>
            {{ end }}
        </ol>
    </section>
</main>
{{ end }}