{{ define "main" }}
<main>
    <article>
        {{ if not .Params.portfolio }}
        <p class="front-matter">
            {{ if .Date }}Published <time>{{ .Date.Format "2 January, 2006" }}</time>{{ end }}
            {{ if .Params.tags }}in {{ range .Params.tags }}<a href="/tags/{{ . | urlize }}/">{{ . }}</a>{{ end }}{{ end }}
        </p>
        {{ end }}
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </article>
</main>
{{ end }}

{{ define "scripts" }}
<script src="/scripts/read-bar.js"></script>
<script src="/scripts/image-expander.js"></script>
<script src="/scripts/heading-markers.js"></script>
{{ end }}