{{ define "main" }}
<main>
    <article>
        {{ if not .Params.portfolio }}
        <p class="front-matter">
            {{ if .Date }}Published <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "2 January, 2006" }}</time>{{ end }}
            {{ if .Params.tags }} in
                {{ $tag_items := (.Params.tags) }}
                {{ $len := (len $tag_items) }}
                {{ range $index, $element := $tag_items }}
                    <a class="tag" href="/tags/{{ . | urlize }}/">{{ . }}</a>{{ if not (eq (add $index 1) $len) }},{{ else }}.{{ end }}
                {{ end }}
            {{ end }}
        </p>
        {{ end }}
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </article>
</main>
{{ end }}

{{ define "scripts" }}
<script src="/scripts/read-bar.js"></script>
<script src="/scripts/image-expander.js"></script>
<script src="/scripts/heading-markers.js"></script>
{{ end }}