// To the extent possible under law, the author(s) have dedicated all copyright
// and related and neighbouring rights to this software and all related code
// files to the public domain worldwide. A copy of the CC0 Public Domain
// Dedication may be obtained at:
//
//     http://creativecommons.org/publicdomain/zero/1.0/
//
// Unless required by applicable law or agreed to in writing, this software is
// distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.

@import "variables";

.animation-container {
  font-size: 0;
  overflow: visible;
}

.animated-char {
  display: inline-block;
  font-size: 10vw;
  font-weight: bold;
  text-shadow: $colour__accent 1px 1px 0px, $colour__accent 2px 2px 0px,
    $colour__accent 3px 3px 0px, $colour__accent 4px 4px 0px;
}

article h1,
article .front-matter {
  text-align: left;
}
