// To the extent possible under law, the author(s) have dedicated all copyright
// and related and neighbouring rights to this software and all related code
// files to the public domain worldwide. A copy of the CC0 Public Domain
// Dedication may be obtained at:
//
//     http://creativecommons.org/publicdomain/zero/1.0/
//
// Unless required by applicable law or agreed to in writing, this software is
// distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.

@import "variables";

h1 {
  margin: 0;
}

p {
  margin: 1em 0;
  line-height: 2;
  font-family: $type__title-font-stack;
}

a.update-date {
  display: inline-block;
  position: relative;
}

sup.last-updated {
  font-family: $type__condensed-font-stack;
  position: absolute;
  left: -50%;
  right: -50%;
  text-align: center;
  top: -30%;
  font-size: 70%;
}
