<footer>
    <p>Non-original reproductions are distributed under the terms of applicable third-party licenses, and under the <a href="https://laws-lois.justice.gc.ca/eng/acts/C-42/page-9.html#h-103270">Fair Dealing</a> exception made by <a href="https://laws-lois.justice.gc.ca/eng/acts/C-42/">The Copyright Act</a> section 29. This site, its code, and all its original content, are made freely available for modification and redistribution. <a href="/copying/">Learn more about this site's copyright</a>.</p>
    <p>
        Elsewhere on the internet:
        <a href="https://twitter.com/trnglina">@trnglina</a> |
        <a href="https://github.com/trnglina/amelie">github/trnglina</a> |
        <a href="https://www.last.fm/user/pokeplun">lastfm/pokeplun</a> |
        <a href="https://myanimelist.net/animelist/trnglina">mal/trnglina</a>
    </p>
</footer>