{{ define "styles" }}
<link rel="stylesheet" href="/styles/pages/index.css">
{{ end }}

{{ define "main" }}
<main>
    <h1>Hi, I'm {{ .Site.Params.author }}.</h1>
    <p>
        I'm a developer, designer, and I enjoy writing. Find here my
        {{ $menu_items := (.Site.Menus.main) }}
        {{ $len := (len $menu_items) }}
        {{ if not (eq 1 $len) }}
            {{ range $index, $element := $menu_items }}
                {{ if not (eq (add $index 1) $len) }}
                <a href='{{ $element.URL }}'>{{ $element.Name }}</a>,
                {{ else }}
                and <a href='{{ $element.URL }}'>{{ $element.Name }}</a>.
                {{ end }}
            {{ end }}
        {{ else }}
            {{ $element := (index $menu_items 0) }}
            <a href='{{ $element.URL }}'>{{ $element.Name }}</a>.
        {{ end }}
    <p>
    <hr>
    <p>Reading <a href="http://houbunsha.co.jp/comics/detail.php?p=%CC%EB%BF%B9%A4%CE%B9%F1%A4%CE%A5%BD%A5%E9%A5%CB">夜森の国のソラニ</a>.</p>
    <p>Watching <a href="https://working-www.com/">WWW.WORKING!!</a>.</p>
    <p>Playing <a href="http://www.koeitecmoeurope.com/ryza/">Atelier Ryza: Ever Darkness & the Secret Hideout</a>.</p>
</main>
{{ end }}