{{ define "styles" }}
<link rel="stylesheet" href="/styles/pages/index.css">
{{ end }}

{{ define "main" }}
<main>
    <h1>Hi, I'm {{ .Site.Params.author }}.</h1>
    <p>
        I'm a developer, designer, and I enjoy writing. Find here my
        {{ $menu_items := (.Site.Menus.main) }}
        {{ $len := (len $menu_items) }}
        {{ if not (eq 1 $len) }}
            {{ range $index, $element := $menu_items }}
                {{ if not (eq (add $index 1) $len) }}
                <a class="update-date" href='{{ $element.URL }}'>{{ $element.Name }}</a class="update-date">,
                {{ else }}
                and <a class="update-date" href='{{ $element.URL }}'>{{ $element.Name }}</a>.
                {{ end }}
            {{ end }}
        {{ else }}
            {{ $element := (index $menu_items 0) }}
            <a class="update-date" href='{{ $element.URL }}'>{{ $element.Name }}</a class="update-date">.
        {{ end }}
    <p>
    <hr>
    <p>Reading <a href="http://houbunsha.co.jp/comics/detail.php?p=%CC%EB%BF%B9%A4%CE%B9%F1%A4%CE%A5%BD%A5%E9%A5%CB">夜森の国のソラニ</a> and <a href="https://kuragebunch.com/episode/10834108156628843815">少女終末旅行</a>.</p>
    <p>Watching <a href="http://www.machine-doll.com/">Unbreakable Machine-Doll</a> and <a href="https://www.tbs.co.jp/anime/sasami/">Sasami-san@Ganbaranai</a>.</p>
    <p>Playing (or perhaps also reading?) <a href="https://www.kogado.com/sw/contents/kuroneko/sr2017/en/">Symphonic Rain</a>.</p>
</main>
{{ end }}

{{ define "scripts" }}
<script src="/scripts/index-dates.js"></script>
{{ end }}