// To the extent possible under law, the author(s) have dedicated all copyright
// and related and neighbouring rights to this software and all related code
// files to the public domain worldwide. A copy of the CC0 Public Domain
// Dedication may be obtained at:
//
//     http://creativecommons.org/publicdomain/zero/1.0/
//
// Unless required by applicable law or agreed to in writing, this software is
// distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.

.list-presenter,
.portfolio-list-presenter {
  list-style: none;
  padding: 0;

  .presenter-card {
    max-width: $sizing__article-width;

    .front-matter {
      margin: 0;
    }
  }
}

.list-presenter {
  margin-top: 0;

  .presenter-card {
    margin-bottom: $sizing__base-space;

    .title {
      display: block;
      margin-top: 0;
    }
  }
}

.portfolio-list-presenter {
  margin: -1em 0em 3em 0em;
  padding-bottom: 1em;
  display: flex;
  overflow-x: auto;

  li {
    margin: 1em;
    width: 300px;
    font-style: italic;
    position: relative;

    &:last-child {
      padding-right: 1em;
    }

    time {
      z-index: 10;
      display: block;
      position: absolute;
      text-align: right;
      font-family: $type__title-font-stack;
      font-weight: bold;
      letter-spacing: 0.25em;
      margin-right: -0.25em;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      font-size: 150%;
      right: $sizing__base-space;
      bottom: -1.2em;

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: -10%;
        top: 10%;
        bottom: 40%;
        left: 40%;
        z-index: -1;
        background: $colour__accent;
        border-radius: 5px 0 5px 5px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .presenter-card {
    height: 350px;
    padding: 1em;
    font-size: 125%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    transition: box-shadow 200ms $easing, color 100ms $easing;
    position: relative;
    z-index: 1;
    display: block;
    color: $colour__light;
    text-shadow: 0px 0px 3px $colour__dark, 2px 2px 3px $colour__dark;
    background-size: cover;
    background-position: center center;

    &:hover,
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.6) 0 0 8px;
      transition: box-shadow 200ms $easing, color 100ms $easing;
    }

    .title {
      font-size: 140%;
      margin-bottom: 0;
      font-weight: bold;
      position: absolute;
      bottom: 1em;
    }
  }
}
